@import "../../global.scss";

.portfolioList {
    font-size: 30px;
    margin: 45px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    

    &.active{
        background-color: $mainColor;
        color:rgba(237, 248, 246, 0.637);
        transition: all .5s ease;
    }
}